################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DeloitteWeatherApp.Core/obj
*.suo
/src/DeloitteWeatherApp.Infrastructure/obj
/src/DeloitteWeatherApp.WebAPI/obj
*.lock
